[submodule "os"]
	path = os
	url = git@github.com:orenskl/choupi-os.git
[submodule "javacard-sdk/rommask"]
	path = javacard-sdk/rommask
	url = git@github.com:orenskl/rommask.git
[submodule "javacard-sdk/javacard-api"]
	path = javacard-sdk/javacard-api
	url = git@github.com:orenskl/javacard-api.git
