[submodule "os"]
	path = os
	url = https://github.com/orenskl/choupi-os.git
[submodule "javacard-sdk/rommask"]
	path = javacard-sdk/rommask
	url = https://github.com/pancanaka/rommask.git
[submodule "javacard-sdk/javacard-api"]
	path = javacard-sdk/javacard-api
	url = https://github.com/pancanaka/javacard-api.git
